p {font-family: cursive;}

h1{color: rgb(206, 22, 22);}

.title{color: blue;}

.description{color: purple;}


#project-title {font-family: sans-serif; color: aquamarine;}

li {color: red;}

html{background-image: url('https://image.freepik.com/free-vector/ornament-background-and-pattern_2239-330.jpg')}
