p {font-family: cursive;}

h1{color: rgb(206, 22, 22);}

.title{color: blue;}

.description{color: purple;}


#project-title {font-family: sans-serif; color: aquamarine;}

ul {color: red;}

ol {color: red;}
